


{% load static %}



<nav class="navbar navbar-expand-lg navbar-dark" id="stick">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "index" %}">
        <img src="{% static "core/image/M__2___1_-removebg-preview.png" %}" alt="MovieVista Logo" id="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="box">
          <input class="form-c" type="search" placeholder="Search...." aria-label="Search" style="color:white;">
          <a href="#">
            <i class="fa-solid fa-magnifying-glass" id="search-icon"></i>
          </a>
        </div>
        <div class="icon d-flex align-items-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url "index" %}" style="color:white;"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "watchlist" %}" style="color:white;"><i class="fa-solid fa-heart"></i></a>
            </li>
            <li class="nav-item dropdown" id="icon">
              <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;">
                <i class="fa-solid fa-user"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url "profile" %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url "logout" %}">Logout</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url "login" %}">Login</a></li>
              <li><a class="dropdown-item" href="{% url "signup" %}">Register</a></li>
            {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>