

<style>
    
    .card-img-top {
      width: 100%;  
      height: 100%;
    }
    
    .card {
      background: black;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
      position: relative; 
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .card-body {
      color: white;
      padding: 20px;
      position: absolute; 
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0; 
      transform: translateY(-100%); 
      transition: opacity 0.3s ease, transform 0.3s ease; 
    }
    
    .card-title {
      font-size: 25px;
      font-weight: bold;
      padding: 3px 5px;
      border-radius: 10px;
      background: rgba(41, 40, 40, 0.3);
    }
    
    .card-text {
      font-size: 10px;
    }
    
    .card.hover-effect:hover {
      transform: translateY(-5px);  
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  
    }
    
    .card.hover-effect:hover .card-body {
      opacity: 1;  
      transform: translateY(0);  
    }
    
    .butt-group {
      display: flex;
      gap: 10px;
    }
    
    .card-watch {
      padding: 5px;
      font-size: 14px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    
    .card-wish {
      background: linear-gradient(90deg, #00bdff, #0079ff);
      color: white;
      border: none;
    }
    
    .card-wish:hover {
      /* background-color: rgb(240, 29, 29); */
      color: black;
    }
    
    
    
    @media (max-width: 992px) {
      .card-img-top {
        height: 100%;
      }
    }
    
    
    @media (max-width: 768px) {
      .card-img-top {
        height: 100%; 
      }
    }
    
    
    @media (max-width: 480px) {
      .card-img-top {
        height: 100%; 
      }
    }
      </style>



<!--card section-->

<br>


<div class="container my-5">
  <div class="row">
    <div class="see-more">
      <h5 class="heading" style="color: white;">Trending Movies</h5>
    </div>
      <a href="#">
      <div class="col-md-3 mb-3">
        <div class="card hover-effect">
          <img src="image/toptrending/tumbbad.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Tumbbad</h5>
            <div class="butt-group">
              <a href="Trendingmovietrailer/Tumbbad Trailer.mp4">
              <button class="btn btn-watch card-watch"><i class="fa-solid fa-film"></i> Watch Trailer</button>
              </a>
              <a href="">
              <button class="btn btn-wishlist card-wish"><i class="fa-solid fa-plus"></i> Watchlist</button>
              </a>
            </div>
          </div>
      </a>
  </div>
</div>


    <div class="col-md-3 mb-3">
        <a href="">
          <div class="card hover-effect">
            <img src="image/toptrending/maharaja.jpeg" class="card-img-top" alt="Card Image">
            <div class="card-body">
              <h5 class="card-title">Maharaja</h5>
              <div class="butt-group">
                <a href="H-video/videoplayback.mp4">
                  <button class="btn btn-watch card-watch"><i class="fa-solid fa-film"></i> Watch Trailer</button>
                </a>
                <a href="">
                  <button class="btn btn-wishlist card-wish"><i class="fa-solid fa-plus"></i> Watchlist</button>
                </a>
              </div>
            </div>
          </div>
        </a>
    </div>



    <div class="col-md-3 mb-3">
      <a href="cardplay.html">
        <div class="card hover-effect">
          <img src="image/toptrending/johnwick.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">John Wick 4</h5>
            <div class="butt-group">
              <a href="Trendingmovietrailer/John wick.mp4">
                <button class="btn btn-watch card-watch"><i class="fa-solid fa-film"></i> Watch Trailer</button>
              </a>
              <a href="">
                <button class="btn btn-wishlist card-wish"><i class="fa-solid fa-plus"></i> Watchlist</button>
              </a>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3 mb-3">
      <a href="">
        <div class="card hover-effect">
          <img src="image/toptrending/kill.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Kill</h5>
            <div class="butt-group">
              <a href="Trendingmovietrailer/KILL  TRAILER.mp4">
                <button class="btn btn-watch card-watch"><i class="fa-solid fa-film"></i> Watch Trailer</button>
              </a>
              <a href="">
                <button class="btn btn-wishlist card-wish"><i class="fa-solid fa-plus"></i> Watchlist</button>
              </a>
            </div>
          </div>
        </div>
      </a>
    </div>


    <div class="col-md-3 mb-3">
      <a href="">
        <div class="card hover-effect">
          <img src="image/toptrending/evildeadrise.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Evil Dead Rise</h5>
            <div class="butt-group">
              <a href="Trendingmovietrailer/Evil Dead rise.mp4">
                <button class="btn btn-watch card-watch"><i class="fa-solid fa-film"></i> Watch Trailer</button>
              </a>
              <a href="">
                <button class="btn btn-wishlist card-wish"><i class="fa-solid fa-plus"></i> Watchlist</button>
              </a>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3 mb-3">
      <a href="">
        <div class="card hover-effect">
          <img src="image/toptrending/la-la-land.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">La La Land</h5>
            <div class="butt-group">
              <a href="Trendingmovietrailer/La La Land Trailer.mp4">
                <button class="btn btn-watch card-watch"><i class="fa-solid fa-film"></i> Watch Trailer</button>
              </a>
              <a href="">
                <button class="btn btn-wishlist card-wish"><i class="fa-solid fa-plus"></i> Watchlist</button>
              </a>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3 mb-3">
      <a href="">
        <div class="card hover-effect">
          <img src="image/toptrending/kashmir files.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Kashmir Files</h5>
            <div class="butt-group">
              <a href="Trendingmovietrailer/The Kashmir Files.mp4">
                <button class="btn btn-watch card-watch"><i class="fa-solid fa-film"></i> Watch Trailer</button>
              </a>
              <a href="">
                <button class="btn btn-wishlist card-wish"><i class="fa-solid fa-plus"></i> Watchlist</button>
              </a>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3 mb-3">
      <a href="">
        <div class="card hover-effect">
          <img src="image/toptrending/us.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title">Us</h5>
            <div class="butt-group">
              <a href="Trendingmovietrailer/Us trailer.mp4">
                <button class="btn btn-watch card-watch"><i class="fa-solid fa-film"></i> Watch Trailer</button>
              </a>
              <a href="">
                <button class="btn btn-wishlist card-wish"><i class="fa-solid fa-plus"></i> Watchlist</button>
              </a>
            </div>
          </div>
        </div>
      </a>
    </div>