

{% load static %}

<!--indian movie-->

<div class="container-fluid">
    <div class="drag">
        <main class="slider"> 
          <div class="see-more">
            <h5 class="heading" style="color: white;">Indian Movies</h5>
             <a href="{% url "seemore_indian" %}"><h5 class="head" style="color: white;">See More</h5><i class="fa-solid fa-chevron-right" id="right-icon"></i></a>
            </div>
            <div class="slider-track">
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/bollycard/Tanhaji1.webp" %}" class="card-image" alt="Tanhaji">
                    <div class="card-details">
                      <h4 id="title">Tanhaji</h>
                    <div class="details-card">
                        <h5 id="gen">Action/War</h5>
                        <h4 id="year">2020</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>7.5</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/bollycard/manikarnika1.jpg" %}" class="card-image" alt="manikarnika">
                    <div class="card-details">
                      <h4 id="title">Manikarnika</h>
                    <div class="details-card">
                        <h5 id="gen">Action/War</h5>
                        <h4 id="year">2019</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>6.4</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/bollycard/akhanda.webp" %}" class="card-image" alt="akhanda">
                    <div class="card-details">
                      <h4 id="title">Akhanda</h>
                    <div class="details-card">
                        <h5 id="gen">Action/drama</h5>
                        <h4 id="year">2021</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>6.8</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/bollycard/karthikey2.jpg" %}" class="card-image" alt="karthikey2">
                    <div class="card-details">
                      <h4 id="title">Karthikey 2</h>
                    <div class="details-card">
                        <h5 id="gen">Mystery/Action</h5>
                        <h4 id="year">2022</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>7.9</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/bollycard/Baahubali.webp" %}" class="card-image" alt="Bahubali">
                    <div class="card-details">
                      <h4 id="title">Bahubali</h>
                    <div class="details-card">
                        <h5 id="gen"> Action/Fantasy/h5>
                        <h4 id="year">2015</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>8.0</h3>
                    </div>
                  </div>
                  </a>
                </div>  
  
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/bollycard/kanguva.webp" %}" class="card-image" alt="kanguva">
                    <div class="card-details">
                      <h4 id="title">Kanguva</h>
                    <div class="details-card">
                        <h5 id="gen">Action/Fantasy</h5>
                        <h4 id="year">2024</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>7.8</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/bollycard/brothers.jpg" %}" class="card-image" alt="brother">
                    <div class="card-details">
                      <h4 id="title">Brothers</h>
                    <div class="details-card">
                        <h5 id="gen">Action/Sport</h5>
                        <h4 id="year">2015</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>6.4</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/bollycard/kgf.jpg" %}" class="card-image" alt="kgf">
                    <div class="card-details">
                      <h4 id="title">KGF</h>
                    <div class="details-card">
                        <h5 id="gen">Action/Thriller</h5>
                        <h4 id="year">2018</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>8.2</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/bollycard/stree2.webp" %}" class="card-image" alt="stree2">
                    <div class="card-details">
                      <h4 id="title">Stree 2</h>
                    <div class="details-card">
                        <h5 id="gen">Horror/Comedy</h5>
                        <h4 id="year">2024</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>7.1</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/bollycard/tadap.jpg" %}" class="card-image" alt="tadap">
                    <div class="card-details">
                      <h4 id="title">Tadap</h>
                    <div class="details-card">
                        <h5 id="gen">Action/Romance</h5>
                        <h4 id="year">2021</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>5.1</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
                
            </div>
        </main>
    </div>
  </div>