

{% load static %}


<!--Hollywood movies-->

<div class="container-fluid">
    <div class="drag">
        <main class="slider"> 
          <div class="see-more">
            <h5 class="heading" style="color: white;">Hollywood Movies</h5>
             <a href="{% url "seemore_hollywood" %}"><h5 class="head" style="color: white;">See More</h5><i class="fa-solid fa-chevron-right" id="right-icon"></i></a>
            </div>
            <div class="slider-track">
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/hollycard/The Jungle Book.jpg" %}" class="card-image" alt="the jungle book">
                    <div class="card-details">
                      <h4 id="title">The Jungle Book</h>
                    <div class="details-card">
                        <h5 id="gen">Adventure/Fantasy</h5>
                        <h4 id="year">2016</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>7.4</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/hollycard/shutter island.jpg" %}" class="card-image" alt="shutter island">
                    <div class="card-details">
                      <h4 id="title">Shutter Island</h>
                    <div class="details-card">
                        <h5 id="gen">Horror/Mystery</h5>
                        <h4 id="year">2020</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>8.2</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/hollycard/the fall guy.jpg" %}" class="card-image" alt="the fall guy">
                    <div class="card-details">
                      <h4 id="title">The Fall Guy</h>
                    <div class="details-card">
                        <h5 id="gen">Action/Comedy</h5>
                        <h4 id="year">2024</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>6.9</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/hollycard/hobbs and shaw.jpg" %}" class="card-image" alt="hobbs and shaw">
                    <div class="card-details">
                      <h4 id="title">Hobbs & Shaw</h>
                    <div class="details-card">
                        <h5 id="gen">Action/Adventure</h5>
                        <h4 id="year">2019</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>6.5</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/hollycard/matrix.jpg" %}" class="card-image" alt="matrix 4">
                    <div class="card-details">
                      <h4 id="title">Matrix 4</h>
                    <div class="details-card">
                        <h5 id="gen">Action/Sci-fi</h5>
                        <h4 id="year">2021</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>5.6</h3>
                    </div>
                  </div>
                  </a>
                </div>  
  
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/hollycard/mission impossible.jpg" %}" class="card-image" alt="mission impossible">
                    <div class="card-details">
                      <h4 id="title">Mission: Impossible</h>
                    <div class="details-card">
                        <h5 id="gen">Action/Thriller</h5>
                        <h4 id="year">2023</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>7.7</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/hollycard/the old boy.jpg" %}" class="card-image" alt="the old boy">
                    <div class="card-details">
                      <h4 id="title">Old Boy</h>
                    <div class="details-card">
                        <h5 id="gen">Thriller/Action</h5>
                        <h4 id="year">2003</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>8.3</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/hollycard/the purge.jpg" %}" class="card-image" alt="the purge">
                    <div class="card-details">
                      <h4 id="title">The Purge: Anarchy</h>
                    <div class="details-card">
                        <h5 id="gen">Horror/Action</h5>
                        <h4 id="year">2014</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>6.4</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/hollycard/thunderbolts.jpg" %}" class="card-image" alt="thunderbolts">
                    <div class="card-details">
                      <h4 id="title">Thunderbolts</h>
                    <div class="details-card">
                        <h5 id="gen">Action/Sci-fi</h5>
                        <h4 id="year">2025</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>7.8</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
  
  
                <div class="cards">
                  <a href="">
                    <img src="{% static "core/image/hollycard/dark-knight.jpg" %}" class="card-image" alt="the dark knight">
                    <div class="card-details">
                      <h4 id="title">The Dark Knight</h>
                    <div class="details-card">
                        <h5 id="gen">Action/Crime</h5>
                        <h4 id="year">2018</h4>
                        <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>9.0</h3>
                    </div>
                  </div>
                  </a>
                </div>
  
                
            </div>
        </main>
    </div>
  </div>