{% extends "core/base.html" %}

{% block content %}

<style>
    h1 {
        text-align: center;
        color: white;
        margin-top: 130px;
    }

    .pay-para p {
        text-align: center;
        color: white;
        margin-top: 120px;
    }
</style>

<h1>Payment Failed</h1>

<div class="pay-para">
    <p>Oops! Your payment couldn't be processed. Please try again or contact support to continue 
        your journey into epic movies and exclusive stories.</p>
</div>

{% endblock content %}

