{% extends "core/base.html" %}

{% block content %}

<style>
    h1 {
        text-align: center;
        color: white;
        margin-top: 130px;
    }

    .pay-para p {
        text-align: center;
        color: white;
        margin-top: 120px;
    }

</style>

<h1>Payment Successfull</h1>

<div class="pay-para">
    <p>Thank you for joining our cinematic journey! Your all-access pass to epic movies and exclusive stories starts now 
        — enjoy the magic!</p>
        <br>
</div>

{% endblock content %}