{% extends "core/base.html" %}


{% block content %}

<div class="home">
    <h1 class='crud'>CRUD OPERATION</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="update-form">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{mf.as_p}}
                    
                
                    <input type="submit" value="Update" class="btn btn-success">
                    <a href="{% url "index" %}"><input type="button" class="btn btn-warning" value="Avenger Database"></a>
                
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}