{% extends "core/base.html" %}

{% block title %} Profile {% endblock title %}

{% block content %}

<style>

    .profile {
        width: 100%;
        margin: 0 auto;
        border: 2px solid rgb(0, 0, 0);
        padding: 30px;
        border-radius: 20px;
        box-shadow: 5px 5px 15px rgb(0, 0, 0);
        background-color: #000; 
    } 

    .text-center a {
        border: 1px solid white;
        display: inline-block;
        padding: 8px;
        box-shadow: 0px 10px 25px -8px #000;
        border-radius: 10px;
        color: white;
        text-decoration: none;
        transition: all 0.3s;
    }

    .text-center a:hover {
        color: white;
        transform: translateY(-2px);
    }

    .list-group-item {
        background-color: white;
        border: none;
        color: black;
    }

    .list-group-item strong {
        color: #000;
    }

    .navbar-brand h2 {
        color: black;
    }

    .form-label {
        color: white;
    }


</style>

<!-- Profile -->


<div class="profile-page">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "index" %}">
                    <h2><i class="bi bi-house"></i></h2>
                </a>
            </div>
        </nav>

        <div class="row justify-content-center mt-5">
            <div class="col-md-8 col-lg-6">
                <div class="form-container profile">
                    <h2 class="text-center" style="font-weight: 600; color: white;">{{ request.user }}</h2>
                    <h4 class="text-center" style="font-weight: 600; color: white;">{{ request.user.email }}</h4>
                    <div class="text-center mb-4">
                        <i class="bi bi-person-circle"></i>
                    </div>

                    <form action="" method="POST" class="profile-form">
                        {% csrf_token %}
                        {% for adm in adm %}
                           <div class="form-group">
                              <label class="form-label" for="{{adm.id_for_label}}">{{adm.label}}</label>
                              {{adm}}
                              {% if adm.errors %}
                                 <div class="form-error">{{adm.errors}}</div>
                              {% endif %}
                           </div>
                        {% endfor %}
                    </form>

                    <br><br>

                    <div class="text-center">
                        <a href="" type="submit" class="btn btn-outline-warning me-2">
                            <i class="bi bi-pencil"></i> Edit Profile
                        </a>
                        <a href="{% url 'changepassword' %}" class="btn btn-outline-danger">
                            <i class="bi bi-lock"></i> Change Password
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>

{% endblock content %}
