{% extends "core/base.html" %}

{% block content %}


<style>


   
    section {
        font-family: Arial, sans-serif;
        background-image: linear-gradient(rgb(0, 0, 0), rgb(55, 49, 103), rgb(46, 38, 155));
        color: rgb(8, 7, 7);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    
   
    .login-container {
        background: rgba(20, 20, 20, 0.9);
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
        max-width: 400px;
        width: 100%;
        text-align: center;
    }
    
   
    .login-title {
        font-size: 28px;
        font-weight: bold;
        color: rgb(247, 201, 72);
        margin-bottom: 20px;
    }
    
    
    form input[type="password"] {
        width: 90%;
        padding: 12px;
        margin-bottom: 15px;
        border-radius: 10px;
        border: 1px solid rgb(68, 68, 68);
        background-color: rgb(30, 30, 30);
        color: white;
        font-size: 16px;
    }
    
    form input[type="password"]:focus {
        border-color: rgb(1, 30, 61);
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        background: white;
        color: black;
    }
    
    
    .login-btn {
        background: linear-gradient(0deg, #00bdff, #0079ff);
        color: rgb(34, 34, 34);
        border: none;
        border-radius: 8px;
        padding: 10px;
        cursor: pointer;
        font-size: 22px;
        width: 100%;
        margin-top: 10px;
        transition: background-color 0.3s;
        animation: button 1s linear infinite;
    }
    
    
    .forgot-password {
        display: block;
        margin-top: 10px;
        color: rgb(247, 201, 72);
        text-decoration: none;
        font-size: 16px;
        transition: color 0.3s;
    }
    
    .forgot-password:hover {
        color: rgb(255, 228, 145);
    }

    .login-container a {
        display: inline-block;
    }
    

</style>


<section>
    <div class="login-container">
        <div class="login-title">Reset Your Password</div>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            <label for="password" style="color: white; font-size: 20px;">New Password</label>
            <input 
                type="password" 
                id="password" 
                name="password" 
                placeholder="Enter new password" 
                required>
                
            <label for="password2" style="color: white; font-size: 20px;">Confirm New Password:</label>
            <input 
                type="password" 
                id="password2" 
                name="password2" 
                placeholder="Confirm new password" 
                required>
                
            <button type="submit" class="login-btn">Reset Password</button>
        </form>
        <a href="{% url 'login' %}" class="forgot-password">Back to Login</a>
    </div>
</section>


{% endblock content %}