



<!--Webseris-->


<div class="container-fluid">
    <div class="drag">
        <main class="slider"> 
          <div class="see-more">
            <h5 class="heading" style="color: white;">Webseries</h5>
             <a href="{% url "seemore_webseries" %}"><h5 class="head" style="color: white;">See More</h5><i class="fa-solid fa-chevron-right" id="right-icon"></i></a>
            </div>
            <div class="slider-track">
                
              {% for ws in ws %}
                <div class="cards">
                  <a href="{% url "cardplay_webseries" ws.id %}">
                    <img src="{{ws.webseries_image.url}}" class="card-image" alt="alice-in-borderland">
                    <div class="card-details">
                      <h4 id="title">{{ws.name}}</h>
                        <div class="details-card">
                          <h5 id="gen">{{ws.genre}}</h5>
                          <h4 id="year">{{ws.release_year}}</h4>
                          <h3 id="rate"><span>IMDB</span><i class="fa-solid fa-star"></i>{{ws.rating}}</h3>
                        </div>
                    </div>
                  </a>
                </div>
              {% endfor %}
  
                
            </div>
        </main>
    </div>
  </div>