





<footer class="footer bg-dark text-white py-5">
    <div class="container-fluid">


      <div class="row" style="justify-content: space-between;">
        <div class="col-lg-3 col-md-12 mb-4 text-center text-lg-start">
          <a href="{% url "index" %}" class="footer-logo">
            <h3><span style="color: red; font-size: 40px; font-family: Times New Roman;">M</span>ovie<span style="color: red; font-size: 40px; font-family: Times New Roman;">V</span>ista<small
                style="font-size: 15px;">&reg;</small></h3>
          </a>
        </div>
  
        
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 style="display: flex; justify-content: center; align-items: center;">About Us</h5>
          <p>Learn more about our mission and vision. We aim to provide the best movie experience to all movie
            lovers around the world.</p>
        </div>
  
  
  
        <div class="col-lg-2 col-md-6 mb-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled" style="margin-left: 20px;">
            <li><a href="{% url "index" %}" class="text-white">Home</a></li>
            <li><a href="{% url "about" %}" class="text-white">About</a></li>
            <li><a href="{% url "contact" %}" class="text-white">Contact</a></li>
          </ul>
        </div>
  
        
        <div class="col-lg-2 col-md-12 mb-4">
          <h5>Follow Us</h5>
          <div class="social-icons" style="margin-left: 20px;">
            <a href="#" class="text-white me-3"><i class="fa-brands fa-facebook fa-2x"></i></a>
            <a href="#" class="text-white me-3"><i class="fa-brands fa-twitter fa-2x"></i></a>
            <a href="#" class="text-white me-3"><i class="fa-brands fa-instagram fa-2x"></i></a>
            <a href="#" class="text-white me-3"><i class="fa-brands fa-youtube fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="text-center py-3">
      <small>&copy; 2024 MovieVista. All rights reserved.</small>
    </div>
  </footer>