{% load static %}

<div class="container-fluid">
    <div class="row">
        <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators" style="background-color: transparent;">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8" aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="9" aria-label="Slide 10"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000" id="car1">
              <img src="{% static "core/image/carousel/deadpool banner.jpeg" %}" class="d-block w-100 zoom-animation" alt="..." height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h2 style="color:white;">Deadpool & Wolverine</h2>
                <p>Deadpool's peaceful existence comes crashing down when the Time Variance Authority recruits him to help safeguard the multiverse.</p>
                <button type="button" class="watch">Watch Now</button>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="{% static "core/image/carousel/Tomb Raider.jpg" %}" class="d-block w-100" alt="..." height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h2 style="color:white;">Tomb Raider</h2>
                <p>Lara Croft, a courageous and independent young woman, sets out on a dangerous journey to unravel the truth behind her adventurer father's mysterious disappearance.</p>
                <button type="button" class="watch">Watch Now</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static "core/image/carousel/deadpool-2.jpg" %}" class="d-block w-100" alt="..." height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h2 style="color:white;">Deadpool 2</h2>
                <p>Deadpool protects a young mutant Russell from the authorities and gets thrown in prison. </p>
                <button type="button" class="watch">Watch Now</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static "core/image/carousel/aquaman.jpg" %}" class="d-block w-100" alt="..." height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h2 style="color:white;">Aquaman</h2>
                <p>Half-human, half-Atlantean Arthur Curry must take his rightful place as the king of Atlantis and prevent a large-scale conflict from breaking out between the underwater kingdom and the surface world.</p>
                <button type="button" class="watch">Watch Now</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static "core/image/carousel/assassination-nation.webp" %}" class="d-block w-100" alt="..." height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h2 style="color:white;">Assassination Nation</h2>
                <p>In Salem, USA, four friends fight to survive after a malicious hacker exposes everyone's secrets on the internet, causing their town to descend into chaos.</p>
                <button type="button" class="watch">Watch Now</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static "core/image/carousel/mortal-kombat.jpg" %}" class="d-block w-100" alt="..." height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h2 style="color:white;">Mortal Kombat</h2>
                <p>Cole Young, a washed-up MMA fighter, is chosen to join a team of champions in a high-stakes battle to prevent the Earth from being taken over by Outworld.</p>
                <button type="button" class="watch">Watch Now</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static "core/image/carousel/rrr.jpg" %}" class="d-block w-100" alt="..." height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h2 style="color:white;">RRR</h2>
                <p>A fearless revolutionary and an officer in the British force, who once shared a deep bond, decide to join forces and chart out an inspirational path of freedom against the despotic rulers.</p>
                <button type="button" class="watch">Watch Now</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static "core/image/carousel/pushpa.jpg" %}" class="d-block w-100" alt="..." height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h2 style="color:white;">Pushpa</h2>
                <p>A labourer named Pushpa makes enemies as he rises in the world of red sandalwood smuggling. However, violence erupts when the police attempt to bring down his illegal business.</p>
                <button type="button" class="watch">Watch Now</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static "core/image/carousel/Hanuman.jpg" %}" class="d-block w-100" alt="..." height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h2 style="color:white;">Hanuman</h2>
                <p>In the tranquil village of Anjanadri, a petty thief stumbles upon Hanuman-like abilities. With the impending threats, he rises to become the hero they need.</p>
                <button type="button" class="watch">Watch Now</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static "core/image/carousel/Ghostbusters.jpeg" %}" class="d-block w-100" alt="..." height="500px">
              <div class="carousel-caption d-none d-md-block">
                <h2 style="color:white;">Ghostbusters: Frozen Empire</h2>
                <p>The Spengler family returns to the iconic New York City firehouse where the original Ghostbusters have taken ghost-busting to the next level.</p>
                <button type="button" class="watch">Watch Now</button>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
  </div>