



<!--wishlist card-->

<br>


<div class="container my-5">
    <div class="row">
      <div class="see-more">
        <h5 class="heading" style="color: white;">Watch List</h5>
      </div>
        <a href="cardplay.html">
        <div class="col-md-3 mb-3">
          <div class="wish-card hover-effect">
            <img src="image/toptrending/tumbbad.jpg" class="wish-card-img-top" alt="Card Image">
            <div class="wish-card-body">
              <h5 class="wish-card-title">Tumbbad</h5>
              <div class="wish-button">
                <a href="Trendingmovietrailer/Tumbbad Trailer.mp4">
                <button class="btn btn-watch"><i class="fa-solid fa-film"></i> Watch Trailer</button>
                </a>
              </div>
            </div>
        </a>
    </div>
</div>